table { border-collapse:collapse; width: 100%; }

th {text-align:center;}
td {
tdst-style-type: upper-alpha;
border-bottom:1px solid #1EB093;
padding:5px;
}
td.sol1 {
background-color:#1EB093;
color:#ffffff;
text-align:center;
border-bottom:1px solid #ffffff;
padding:5px;
}
td.sol2 {
background-color:#1EB093;
color:#ffffff;
text-align:center;
border-bottom:1px solid #1EB093;
padding:5px;
}
td a{text-decoration:none;color:#222;}
td a:hover{text-decoration:underline;color:blue;}
td.hove:hover{background-color:#E6E6FA;}
td img {width:50px; height:auto;}
	/*
td img:hover {content: url('https://blog.formsite.com/blog/wp-

content/uploads/2013/03/big-button.png'); 

width:50px;height:auto;}
*/
