body { 
width: 98%;
}

/****** TABLE 
***********************/
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #1EB093;
    color: white;
}

/****** BLOCKQUOTE 
**************************/
blockquote{
display:block;
background: #fff;
padding: 15px 20px 15px 45px;
margin: 0 0 20px;
position: relative; 
font-family: Georgia, serif;
font-size: 16px;
line-height: 1.2;
color: #666;
text-align: justify;  
border-left: 8px solid #1EB093;
border-right: 2px solid #1EB093;
border-radius: 0.50em;
-moz-box-shadow: 2px 2px 15px #ccc;
-webkit-box-shadow: 2px 2px 15px #ccc;
box-shadow: 2px 2px 15px #ccc;
}
blockquote nar{
color: #1EB093;
display: block;
font-weight: bold;
}
blockquote::before{
content: "\201C"; /*Unicode for Left Double Quotes*/
font-family: Georgia, serif;
font-size: 60px;
font-weight: bold;
color: #999;  
position: absolute;
left: 10px;
top:5px;
}
blockquote::after{
content: "";
}
blockquote a{
text-decoration: none;
background: #eee;
cursor: pointer;
padding: 0 3px;
color: #c76c0c;
}
blockquote a:hover{
color: #666;
}
blockquote em, cite, q{
font-style: italic;
display: block;
text-align: right;
}

h3 {
font-size:20px; 
font-style: bold;
color: blue;
margin-bottom: 2px;
}


saw {
font-size: 16px;color: red;
}

saw::after {
content: "(ﷺ)";
}

/****** (ol) Numbering
**************************/
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  font-weight: bold;
}

ol li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #1EB093;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
